
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.sub-container{
  background-color: rgb(78, 76, 76);
  padding: 18px;
  /* height: 100% !important; */
}
.sub-container h4,h6{
margin-left: 18px;
color: rgb(236, 238, 239);
}
.about{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  margin-top: 18px;
  background-color:dodgerblue;
  padding: 15px;
  color: aliceblue;
  border-radius: 10px;
  
}
.main-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-top: 7%;
}
.add h2{
  color: aliceblue;
  font-size: 17px;
  margin-top: 15px;
  margin-left: 10px;
}
.btn-grp{
  display: flex;
  justify-content: space-evenly;
  background-color: dodgerblue;
  padding: 5px;
  border-radius: 5px;
  margin-top: 15px;
}
.btn-grp button{
  background: #fff;
  border: none;
  color: dodgerblue;
  padding: 6px;
  border-radius: 15px;
}
.detail h2{
  color: aliceblue;
  margin-top: 40px;
  font-size: 19px;
  margin-left: 8px;
}
.activity button{
  background-color:rgb(64, 148, 232);
  border: none;
  margin-top: 60px;
  padding: 12px 22px;
  display: block;
  margin-left: 50px;
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
}
